.nav{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
}
.pokemonGrid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, auto);
}
.pokemonCard{
    display: grid;
    text-align: center;
}